<h2>This is the <%= @group.name %> group</h2>

<p>Its got <%= @group.description %></p>

<h4>Group members:</h4>

<ul>
  <% @members.each do |member| %>
    <li><%= member.email %></li>
  <% end %>


